{
    "name": "Devpod - IDE",
    "short_name": "Devpod",
    "start_url": "/?utm_source=a2hs",
    "display": "standalone",
    "background_color": "#fff",
    "description": "A Cloud IDE for developers",
    "theme_color":"#2e2e2e",
    "publicPath":"/",
    "lang": "en",
    "scope":"/",
    "icons": [
        { "src":"/img/devpod-32x32.png","sizes":"32x32","type":"image/png" },
        { "src":"/img/devpod-144x144.png","sizes":"144x144","type":"image/png" },
        { "src":"/img/devpod-192x192.png","sizes":"192x192","type":"image/png" },
        { "src":"/img/devpod-512x512.png","sizes":"512x512","type":"image/png" }
    ]
}
